*{margin: 0;padding: 0;outline:none;}
.fl{float: left;}
.fr{float: right;}
li{list-style: none;}
a{color: #666;text-decoration: none;}
.warp{width: 1015px;height: 750px;margin: 0 auto;}
.header{width: 1015px;height: 45px;background: #323333;position: relative;background-size: auto;}
.header a{display: inline-block;margin-top: 10px;margin-left: 45px;color: white;}
.header a:nth-child(1){width: 30px;height: 30px;    background: url(../image/icon.png) -100px -50px no-repeat;}
.header a:nth-child(1):hover{background-image: url("../image/icon.png");background-position:-150px -50px ;}
.header a:nth-child(2){width: 30px;height: 50px;background-image: url("../image/icon.png");background-position: 100px 450px;position: absolute;left: 46%;top: -3px;}


.main{
    width: 1015px;
    height: 600px;
    float: left;
}
.ma_l{
    position: relative;
    width: 500px;
    height: 600px;
    float: left;
}
.m_img{
    position: absolute;
    width: 300px;
    height: 300px;
    left: 100px;
    top:70px;
    border: 1px solid #b0b0b0;
}

.m_p{
    position: absolute;
    top: 380px;
    left: 100px;
}
.ma_z{
    margin-top: 30px;
    width: 1px;
    height: 420px;
    border-right: 1px solid silver;
    float: left;
}
.ma_r{
    float: right;
    width: 510px;
    height: 600px;
    position: relative;
}

.r_p{
    position: absolute;
    top: 50px;
    left: 100px;
    width: 300px;
    height: 25px;
    border-bottom: 1px solid silver;
}

.ma_f{
    position: absolute;
    top: 100px;
    left: 100px;
}
.ma_f input{
    margin-bottom: 40px;
    display: block;
    width: 300px;
    height: 50px;
    border: 1px solid black;
    font-size: 16px;
}
#spa_1{
    position: absolute;
    left: 0;
    top: 55px;
    color: red;
    z-index: 999;
}
#spa_2{
    position: absolute;
    left: 0;
    top: 145px;
    color: red;
    z-index: 999;
}

.in_t{
    text-indent: 40px;
}
.in_p{
    text-indent: 40px;
}
#in_s{
    background: black;
    color: white;
}
#in_s:hover{
    opacity: 0.8;
}
.ma_f h4{
    left: 10px;
    position: absolute;
    width: 25px;
    height: 30px;
}
.f_h41{
    top: 13px;
    background: url("../image/icon.png") 0 -350px;
}

.f_h42{
    top: 103px;
    background: url("../image/icon.png") -50px -350px;
}

.jz{
    position: absolute;
    top: 350px;
    left: 100px;
    font-size: 12px;
}
.jz input{
    float: left;
}

.wj{
    position: absolute;
    top: 350px;
    left: 290px;
    font-size: 12px;
}

.wj a:nth-child(2){
    color: red;
}
.wj a:nth-child(2):hover{
    color: black;
}
.wj a:nth-child(1){
    opacity: 0.7;
}
.wj a:nth-child(1):hover{
    opacity: 1;
}

.x{
    position: absolute;
    top: 400px;
    left: 100px;
    width: 300px;
    height: 1px;
    border-top: 1px dashed black;

}
.c_p{
    font-size: 12px;
    position: absolute;
    top: 420px;
    left: 100px;
    width: 300px;

}
.c_p a{
    display: block;
    float: right;
    width: 30px;
    height: 30px;
    background: yellow;
    margin-left: 10px;
    margin-top: -5px;
}
.c_p a:nth-child(3){
    background: url("../image/icon.png") -100px -500px;
}
.c_p a:nth-child(3):hover{
    background: url("../image/icon.png") -150px -500px;
}

.c_p a:nth-child(2){
    background: url("../image/icon.png") -100px -550px;
}
.c_p a:nth-child(2):hover{
    background: url("../image/icon.png") -150px -550px;
}
.c_p a:nth-child(1){
    background: url("../image/icon.png") -100px -600px;
}
.c_p a:nth-child(1):hover{
    background: url("../image/icon.png") -150px -600px;
}


