*{margin: 0;padding: 0;outline:none;}
.fl{float: left;}
.fr{float: right;}
li{list-style: none;}
a{color: #666;text-decoration: none;}
.warp{width: 1015px;height: 750px;margin: 0 auto;}
.header{width: 1015px;height: 45px;background: #323333;position: relative;background-size: auto;}
.header a{display: inline-block;margin-top: 10px;margin-left: 45px;color: white;}
.header a:nth-child(1){width: 30px;height: 30px;background-image: url("../image/icon.png");background-position: 0 0;}
.header a:nth-child(1):hover{background-image: url("../image/icon.png");background-position: -50px 0;}
.header a:nth-child(2){width: 30px;height: 50px;background-image: url("../image/icon.png");background-position: 100px 450px;position: absolute;left: 48%;top: -3px;}
.header a:nth-child(3){width: 30px;height: 30px;background-image: url("../image/icon.png");background-position:100px 0;position: absolute;right:15%;}
.header a:nth-child(3):hover{background-image: url("../image/icon.png");background-position: 50px 0;}
.header a:nth-child(4){width: 30px;height: 30px;background-image: url("../image/icon.png");background-position:0 -100px;position: absolute;right:9%;}
.header a:nth-child(4):hover{background-image: url("../image/icon.png");background-position:150px -100px;}
.header a:nth-child(5){width: 30px;height: 30px;background-image: url("../image/icon.png");background-position:100px -100px;position: absolute;right:3%;}
.header a:nth-child(5):hover{background-image: url("../image/icon.png");background-position: 50px -100px;}
.kuang{width: 130px;height: 300px;border: 1px solid pink;position: absolute;background: #323333;z-index:2;text-align: center;display: none;}
.kuang p{width: 100%;height: 35px;line-height: 35px;}
.kuang p:hover a{color: yellow;}
.kuang p:hover{background: #999999;}
.kuang .k_p{color:red;}
.kuang a{font-size: 20px;color: white;}

































































































